body {
    background-color: black;
    font-family: "Fira Sans";
    margin: 5em;
    color: white;
    font-weight: 500;
    text-align: right;
}

.smaller {
    font-size: 10em;
}

.hero {
    font-size: 15em;
}