body {
    background-color: black;
    font-family: "Fira Sans";
    color: white;
    font-weight: 500;
    text-align: right;
    margin: 0;
    padding: 0;
}

#banner {
    background-color: grey;
    padding: 3em 0.5em 3em 0.5em;
    font-size: 5em;
}

#banner.green {
    background-color: green;
}

#banner.yellow {
    background-color: #6c5501;
}

#banner.red {

}

#container {
    padding: 2em;
}

.smaller {
    font-size: 5em;
}

.hero {
    font-size: 10em;
}